/* reset */
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

/* COMMON */
html{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content:"";
    display: table;
    clear:both;
}

a{
    text-decoration: none;
}

.container-jumbotron{
    width:90%;
    margin:0 auto;
}

.container{
    width:80%;
    margin:0 auto;
    /* TEST */
    /* border:2px solid red; */
}

.subtitle{
    /* height:100px; */
    padding: 20px;
}

.subtitle h2{
    text-align: center;
}
/* common button */

.button{
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.button-blue{
    background-color:#0861ff;
}
.button-blue a{
    color:white !important;
}


.button-iscrizione{
    margin:40px auto 40px;
} 

.button-white{
    background-color: white;
    border: 1px solid black;
    margin-top:20px;
}

.button-white a{
    color:black;
}

.col-enterprise-right .button-iscrizione{
    margin-top:5px;
}
/* HEADER */

/* menu structure */
.menu{
    height:60px;
    text-align: center;
}

.menu-col{
    width:calc(50% - 10px);
    height:60px;
    display: inline-block;

}

.menu-col li{
    display: inline-block;
    width:calc(100% / 4 - 10px);
    height:60px;
    padding-top: 15px;
    vertical-align: middle;

}

.menu-left ul{
    padding-right:30%;
}

.menu-right ul{
    padding-left:30%;
}

/* structure menu right */

.menu-right li:nth-child(1){
    width:20%;
}

.menu-right li:nth-child(2){
    width:40%;
}

.menu-right li:nth-child(3){
    width:15%;
}

.menu-right li:nth-child(4){
    width:15%;
}

/* menu content */

.menu li a{
    font-size: 13px;
    vertical-align: middle;
    text-decoration: none;
    color:black;
}

.menu li img{
width:100%;
padding-right:5px;
vertical-align: middle;
}

/* MAIN */

/* jumpotron */

.jumpotron{
    background-color: #b4d0e7;
    height:500px;
    text-align: center;
    margin-bottom: 200px;
}

.title-jumpotron{
    height:30%;
    padding-top:5%;
}

.title-jumpotron h1{
    font-size: 3em;
}

.col-text-jumpotron{
    width:38%;
    display: inline-block;
    height:200px;
    vertical-align:top;
}

.text-jumpotron{
    width: 70%;
    padding-left: 10%;
    text-align: left;
}

.text-jumpotron p{
    margin-bottom:5%;
}

.small-subtitle{
    font-size: .8em;
    margin-top:1em;
    margin-bottom:3em;
    display:block;
}

.arrow-down a{
    font-size:3em;
    color:black;
    font-weight: bold;
}

/* jumpotron img */
.col-img-jumpotron{
    width:50%;
    display: inline-block;
    height:200px;

}

.col-img-jumpotron img{
    width:100%;
}

/* iscrizione */


.scegli-fatturazione{
    padding-bottom:30px;
}

.scegli-iscrizione{
    margin-left:40px;
}

.col-iscrizione{
    border:1px black solid;
    width:calc(100% / 3 - 20px);
    display: inline-block;
    vertical-align: top;
}

.intestazione-iscrizione{
    padding:10px;
    border-bottom:1px solid black;
    text-align: center;
}
.col-iscrizione-top{
    padding-top:10px;
    padding-left: 10px;
} 

.col-iscrizione-down{
    height:45%;
    line-height: 3em;
    padding-bottom:20%;
}

.col-enterprise{
    width:100%;
    margin-top: 10%;
    margin-bottom:10%;
}

.col-enterprise-left{
    width:70%;
    display: inline-block;
}

.col-enterprise-right{
    width:calc(30% - 10px);
    display: inline-block;
    vertical-align:top;
}

.iscrizione-top-1{
    margin-bottom:50px;
}

/* iscrizione content */

.radio-button{
    padding-left:20px;
    font-size: .8em;
}

.col-iscrizione ul{
    list-style: none;
}

.acquista-ora{
    color:#0861ff;
    text-decoration: underline;
}

.col-iscrizione .tempo-iscrizione{
    color:gray;
    font-size: .8em;
}

.col-iscrizione-down li::before{
    content:"\2713";
    color:#0861ff;
}

.col-iscrizione-down li:first-child::before{
    content:none !important;
}

.col-enterprise-left h4{
    margin-top: 10px;
}

.col-enterprise-left p{
    margin-top: 20px;
}

/* contatto partner */


.col-partner-img{
    width:48%;
    display: inline-block;
}

.col-partner-img img{
    width:100%;
}
.col-partner-text{
    width:50%;
    float:right;
    display: inline-block;
}

.col-partner-text h2{
    margin-top:20px;
    margin-bottom:20px;
}

/* business operations */

.business{
    margin-top:10%;
}


.row-1-operations{
    height:50%;
    /* background-color: aqua; */
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 50px;
}
.row-2-operations{
    height:50%;
}

.block-row{
    height:100%;
    width: calc(100% / 3 );
    float:left;

}

.img-block-row{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

}

.img-block-row img{
    width:100%;
}

/* utenti */

.utenti{
    height:300px;  
    margin-top:10%;  
}

.title-utenti {
    width:40%;
}

.title-utenti a{
    color:blue;
    text-decoration: underline;
    line-height: 5;
}

.col-left-utenti{
    width: 25%;
    height: 150px;
    display:inline-block;
    float:left;

}

.col-center-utenti{
    background-color:#f5f5f5;
    display:inline-block;
    float:left;
    width:50%;
    overflow:scroll;
    height:300px;

}

.container-designit{
    width:90%;
    margin:0 auto;

}

.container-designit img{
    width:200px;
    margin-top:50px;
    margin-bottom:50px;
}

.col-right-utenti{
    width: 25%;
    height:150px;
    display:inline-block;
    float:left;
}

/*


/* .row-1-utenti{
    height:50%;
    border: 2px solid firebrick;

}

.row-2-utenti{
    height:50%;
    border: 2px solid firebrick;

} */
.block-company{
    width:50%;
    height:150px;
    float:left;
    text-align: center;

}

.block-company img{
    width:65%;
    margin-left:0 auto;
    /* height:40%; */
    text-align: center;
    margin-top: 50px;
}

.block-company{
    height:100%;
    border:1px solid black;
    display:inline-block;

}

#block1-utenti{
    background-color: #a2d39b;
}

#block2-utenti{
    background-color: #61092b;
}

#block3-utenti{
    background-color: #0093ce;
}

#block4-utenti{
   background-color: #ff1b1c; 
}

#block5-utenti{
    background-color: #d4001f ;
}

#block6-utenti{
    background-color: #b3d0e7;
}

#block7-utenti{
    background-color: #0e2381;
}

#block8-utenti{
    background-color: #ffd72f;
}

/* prova gratuita */

.prova-gratuita{
    height:400px;
    background-color:#b3d0e7 ;
    margin-bottom:20px;
}

.col-left-gratis{
    border:2px solid red;
    width:60%;
    display:inline-block;

}

.col-right-gratis{
    border:2px solid red;
    width:calc(40% - 10px);
    display:inline-block;
}
