/* reset */
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

/* COMMON */
html{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content:"";
    display: table;
    clear:both;
}

/* common button */

.button{
  background-color:#0861ff;
  padding-bottom: 4px;
}

.button a{
    color:white !important;
}

/* HEADER */

/* menu structure */
.menu{
    height:60px;
    background-color: aqua;
    text-align: center;
}

.menu-col{
    border: 2px solid green;
    width:calc(50% - 10px);
    height:60px;
    display: inline-block;

}

.menu-col li{
    display: inline-block;
    border:2px solid violet;
    width:calc(100% / 4 - 10px);
    height:60px;
    padding-top: 15px;
    vertical-align: middle;

}

.menu-left ul{
    padding-right:30%;
}

.menu-right ul{
    padding-left:30%;
}

/* structure menu right */

.menu-right li:nth-child(1){
    width:20%;
}

.menu-right li:nth-child(2){
    width:40%;
}

.menu-right li:nth-child(3){
    width:15%;
}

.menu-right li:nth-child(4){
    width:15%;
}

/* menu content */

.menu li a{
    font-size: 13px;
    vertical-align: middle;
    text-decoration: none;
    color:black;
}

.menu li img{
width:100%;
padding-right:5px;
vertical-align: middle;
}

/* MAIN */

/* jumpotron */

.jumpotron{
    background-color: #0861ff;
    height:500px;
    text-align: center;
}

.title-jumpotron{
    height:30%;
    border:2px solid red;
    margin-bottom:5%;
    padding-top:5%;

}

.col-text-jumpotron{
    width:38%;
    border:2px greenyellow solid;
    display: inline-block;
    height:200px;
}

.col-img-jumpotron{
    width:60%;
    border:2px green solid;
    display: inline-block;
    height:200px;

}